/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-size: 10pt;
}

h1#appName {
  color: dodgerblue;
  font-size: 250%;
  font: Georgia;
  font-style: normal;
  display: block;
  width: 100%;

}
h2#button {
    text-align: right;
    color: dodgerBlue;
    font-size: 150%;
    font: arial;
    font-style: normal;
    display: block;
    width: 100%;
    word-spacing: 2em;
}
table {
  height: 250px;
  position: relative;
  left: 100px;
  column-count: 2;
  column-gap: 60px;
  border: 3px double;
  background-color: lemonchiffon;
}
th {
    padding: 10px;
    font-size: 2em;
    font-style: oblique;
    color: deeppink;
}
td {
  padding: 10px;
}
