%h1#headAbt About us

%body
%p#bodyAbt Smart Budget is an web application created solely for students like you!!<br>College in itself is hectic, taking care of your budget on top of that can be stressful. <br>
