%div#header
    %h1#appName Smart Budget
    %button.alert#b1 HELP
    %button.alert#b1 LogIn
    
    
%body#thebody
%table
    %tr
        %th#siteInfo ABOUT US
        %th#signUp SIGN UP
    %tr 
        %td#addspace 
            %p This app is to help students to manage their budget.<br>Saving saves students and this app helps student to<br> save their money by keeping track of their expendture.
        %td#addspace 
            %p This app is designed for students.<br>You can sign up for free with your .edu email.<br>Hurry up and start your budgeting today!
    %tr
        %td#tocenter= link_to "Learn More", home_index_path
        %td#tocenter= link_to "Create new account", new_user_path
    %tr
        %td#tocenter
            %button.alert#b2 CLICK HERE
        %td#tocenter
            %button.alert#b2 CREATE ACCOUNT
        
%footer
    %p#atend &copy; 2016 Sunny Shrestha, Safath Zaman, Jyoti Rana, Mira Sainju, Bradley Kunz All Rights Reserved